* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("ume.jpg");
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-position: center center;

}

.main .box {
    opacity: 0.44;
    height: 70vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

.box1 {
    height: 62px;
    max-width: 70vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 59%;
}

.btn {
    font-weight: bold;
    background-color: rgb(154, 138, 138);
    padding: 3px 4px;
    border: 4px;
}

.btn1 {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}

.img {
    width: 114px;
    position: relative;
    z-index: 10;
}

.buttonss {
    z-index: 10;
    position: relative;

}

.hero {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 64px);
    font-family: roboto;
    gap: 23px;
    padding: 0 30px;

}

.hero .size1 {
    font-size: 42px;
    font-weight: 900;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.hero .size2 {
    font-size: 20px;
    margin: 14px 0px;
}

.hero .size3 {
    font-size: 16px;
    margin: 21px 0px;
}

.main input {
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 13px;
    background-color: rgb(23, 23, 23, 0.23);
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 13px;
    border: 2.5px solid white;
}

.sparator {
    height: 7px;
    background-color: rgb(105, 160, 160);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 26vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 23vw;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 29px;

}

.first-third {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg3 {
    position: relative;
}

.secImg3 img {
    width: 26vw;
    position: relative;
    z-index: 10;
}

.secImg3 video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 23vw;
}

section.first-third>div {
    display: flex;
    flex-direction: column;
}

section.first-third>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}

section.first-third>div :nth-child(2) {
    font-size: 29px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: rgb(87, 38, 38);
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    background-color: #312d2d;
    display: flex;
    padding: 24px;
    max-width: 60vw;
    justify-content: space-between;
    margin: 34px auto;
    cursor: pointer;

}

footer {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

footer .questions {
    padding: 34px 0;
}

footer a {
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}